<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head', { title: 'About' }) %>
</head>
<body>
  <div id="homepage">
    <%- include('partials/nav') %>

    <br>

    <%- include('partials/footer') %>
  </div>

  <%- include('partials/searchOverlay') %>

  <%- include('partials/scripts') %>
</body>
</html>
